/* 1 ხერხი-ვერტიკალურად ცენტრავს */

/* @media (max-width: 600px) {
  .conteiner_boxs {
    background-color: blueviolet;
    align-items: center;
    flex-direction: column;
  } */

/* 2 ხერხი-ჰორიზონტალურად ცენტრავს */
/* @media (max-width: 600px) {
  .conteiner_boxs {
    background-color: blueviolet;

    flex-wrap: wrap;
    justify-content: center;
  }
} */

/* 3 ხერხი-როცა არ დაეტევა მე ვუთითებ პროცენტებს, 2-2 ცამოვიდეს ერთდროულად */

/* @media (max-width: 600px) {
  .conteiner_boxs {
    background-color: blueviolet;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .boxs: :nth-child(1) {
    width: 80%;
  }
  .boxs {
    width: 30px;
  }
} */

/* @media (max-width: 626px) {
  .conteiner_boxs {
    background-color: blueviolet;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box1 {
    width: 80%;
  }
} */

@media (max-width: 400px) {
  .burger {
    display: block;
  }
  .navigation {
    display: none;
  }
}
